[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djangorestframework-camel-case = "*"
djangorestframework-simplejwt = "*"
channels = "*"

[dev-packages]
httpie = "*"

[requires]
python_version = "3.8"
