asgiref==3.3.1
attrs==20.3.0
autobahn==20.12.3
automat==20.2.0
cffi==1.14.4
channels==3.0.2
constantly==15.1.0
cryptography==3.3.1
daphne==3.0.1
django-cors-headers==3.6.0
django==3.1.4
djangorestframework-camel-case==1.2.0
djangorestframework-simplejwt==4.6.0
djangorestframework==3.12.2
hyperlink==20.0.1
idna==2.10
incremental==17.5.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.20
pyhamcrest==2.0.2
pyjwt==1.7.1
pyopenssl==20.0.1
pytz==2020.4
service-identity==18.1.0
six==1.15.0
sqlparse==0.4.1
twisted==20.3.0
txaio==20.12.1
zope.interface==5.2.0
